<h1>Stupid Coaching</h1>
<div class="d-flex justify-content-center">
  <form class="form-group" action="/answer" data-turbo="false">
    <label for="question">Ask your coach anything :</label>
    <div class="input-group w-auto">
      <input class="form-control" type="text" name="answer">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
